/* Estilo general */


/* Estilo del formulario */
form {
    background-color: white;  /* Fondo oscuro para el formulario */
    color: black;  /* Texto blanco */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
}

/* Estilo de los encabezados */
h2 {
    color: purple;  /* Color azul para los encabezados */
    margin-bottom: 10px;
}

/* Estilo de las etiquetas y campos de entrada */
label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1.1em;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: white;  /* Fondo oscuro para los campos */
    color: black;  /* Texto blanco */
}

/* Estilo para los botones */
input[type="submit"] {
    background-color: purple;  /* Botón azul */
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: purple;  /* Cambio de color en hover */
}
