
.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "izq centro der"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 200px;
    gap: 10px;
    /*border-style: solid;
    border-color: pink;*/
    min-height: 100vh; 
}

.header {
    display: flex;
    grid-area: header;
    /*border-style: solid;
    border-color: pink;*/
    height: 80px;
    text-align: center;
    gap: 20px;
}

.izq {
    grid-area: izq;
    display: flex;
    flex-direction: column;
    gap: 150px;
   
}

.centro {
    grid-area: centro;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.der {
    grid-area: der;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 50px;
}

.im{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
}
.footer {
    display: flex;
    grid-area: footer;
    text-align: center;
    align-content: center;
}

.filtros{
    display: flex;
    flex-direction: column;
    gap: 200px;

}

.sesion{
    display: flex;
    margin-left: 100px;
    gap: 100 px;
}

.pag{

    margin-left: 400px;
}