{% extends "base.html" %}

{% block title %} Estadísticas Generales {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/stylesEstadisticas.css">
{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <iframe name="iG" width="720px" height="750px" src="{{ url_for('i1') }}"></iframe>
    </div>
{% endblock %}

{% block derecha %}
    <div class="botones">
      <a href="{{ url_for('grafico', tipo='genero') }}" target="iG" type="button" class="btn btn-outline-primary">Gráfico por género</a></li>
      <a href="{{ url_for('grafico', tipo='edad') }}" target="iG" type="button" class="btn btn-outline-success">Gráfico por edad</a></li>
      <a href="{{ url_for('grafico', tipo='promedio') }}" target="iG" type="button" class="btn btn-outline-info">Gráfico por promedio</a></li>
      <a href="{{ url_for('grafico', tipo='beca') }}" target="iG" class="btn btn-outline-danger">Gráfico por beca</a></li>
      <a href="{{ url_for('grafico', tipo='dinero') }}" target="iG" type="button" class="btn btn-outline-dark">Gráfico por falta de dinero</a></li>
    </div>
{% endblock %}
