<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Desertores</title>
</head>
<body>
  <form action="/" method="post">
        <h2>Información Personal</h2>
        <label>Género:</label>
        <select name="s1">
            <option value="1">Hombre</option>
            <option value="2">Mujer</option>
        </select>
        <br>

        <h3>¿Con quién vives?</h3>
        <label><input type="checkbox" name="p12_1" value="1"> Solo</label>
        <label><input type="checkbox" name="p12_2" value="2"> Madre</label>
        <br>

        
        <h2>Información Laboral</h2>
        <label>¿Trabajas?</label>
        <select name="p27">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label>Tiempo combinando estudio y trabajo:</label>
        <select name="p29">
            <option value="1">Menos de la mitad</option>
            <option value="2">Aproximadamente la mitad</option>
            <option value="3">Más de la mitad</option>
            <option value="4">Todo el tiempo</option>
        </select>
        <br>
        <label>Sueldo:</label>
        <input type="number" name="p30" step="0.01">
        <br>

        <h2>Información Académica</h2>
        <label>Año de ingreso:</label>
        <input type="number" name="p2a" placeholder="-1 si está en blanco">
        <br>
        <label>Año de nacimiento:</label>
        <input type="number" name="s2a">
        <br>
        <label>Puntaje de admisión:</label>
        <input type="number" name="p4" placeholder="-1 si está en blanco">
        <br>
        <input type="submit">
        </form>
</body>
</html>
