<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Desertores</title>
    <link rel="stylesheet" href="static/css/formulario.css">
    <script>
        function toggleFields() {
            var p12_1 = document.querySelector('select[name="p12_1"]').value;
            var fields = ['p12_2', 'p12_3', 'p12_4', 'p12_5', 'p12_6', 'p12_7', 'p12_8', 'p12_9', 'p12_10'];

            if (p12_1 == '1') {
                fields.forEach(function(field) {
                    document.querySelector('label[for="' + field + '"]').style.display = 'none';
                    document.querySelector('select[name="' + field + '"]').style.display = 'none';
                });
            } else {
                fields.forEach(function(field) {
                    document.querySelector('label[for="' + field + '"]').style.display = 'block';
                    document.querySelector('select[name="' + field + '"]').style.display = 'block';
                });
            }
        }

        window.onload = toggleFields;
    </script>
</head>
<body>
    <form action="/personal" method="post">
        <h2>Información Personal</h2>
        <label>Género:</label>
        <select name="s1">
            <option value="1">Hombre</option>
            <option value="2">Mujer</option>
        </select>
        <br>
        <h3>Vives con...</h3>
        <label>Solo</label>
        <select name="p12_1" onchange="toggleFields()">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_2">Madre</label>
        <select name="p12_2">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_3">Padre</label>
        <select name="p12_3">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_4">Padrastros</label>
        <select name="p12_4">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_5">Hermanos</label>
        <select name="p12_5">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_6">Otros familiares</label>
        <select name="p12_6">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_7">Amigos</label>
        <select name="p12_7">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_8">Hijos</label>
        <select name="p12_8">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_9">Pareja</label>
        <select name="p12_9">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label for="p12_10">Otros</label>
        <select name="p12_10">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <h3>¿Qué tanto apoyo recibes de...?</h3>
        <br>
        <label>Papá</label>
        <select name="p13_4">
            <option value="1">Mucho</option>
            <option value="2">Algo</option>
            <option value="3">Poco</option>
            <option value="4">Nada</option>
        </select>
        <br>
        
        <label>Mamá</label>
        <select name="p13_5">
            <option value="1">Mucho</option>
            <option value="2">Algo</option>
            <option value="3">Poco</option>
            <option value="4">Nada</option>
        </select>
        <br>

        <label>Amigos</label>
        <select name="p13_6">
            <option value="1">Mucho</option>
            <option value="2">Algo</option>
            <option value="3">Poco</option>
            <option value="4">Nada</option>
        </select>
        <br>

        <label>Hermanos</label>
        <select name="p13_7">
            <option value="1">Mucho</option>
            <option value="2">Algo</option>
            <option value="3">Poco</option>
            <option value="4">Nada</option>
        </select>
        <br>

        <label>¿Tienes amigos que hayan abandonado sus estudios?</label>
        <select name="p23_1">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Tienes hermanos que hayan abandonado sus estudios?</label>
        <select name="p23_2">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <h3>¿Con qué frecuencia consumes los siguientes productos?</h3>
        <label>Tabaco</label>
        <select name="p41a">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Alcohol</label>
        <select name="p41b">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Marihuana</label>
        <select name="p41c">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Cocaína</label>
        <select name="p41d">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Heroína</label>
        <select name="p41e">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Inhalable</label>
        <select name="p41f">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Sedantes</label>
        <select name="p41g">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Anfetamina</label>
        <select name="p41h">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>Alucinógeno</label>
        <select name="p41i">
            <option value="1">No consumo</option>
            <option value="2">Una vez al mes o menos</option>
            <option value="3">Dos o tres veces al mes</option>
            <option value="4">Uno o dos días a la semana</option>
            <option value="5">Más de dos días a la semana</option>
        </select>
        <br>

        <label>¿Hay compañeros que te molesten?</label>
        <select name="p24_10">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Te sientes discriminado(a) por tu forma de pensar o vestir?</label>
        <select name="p24_12">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Tienes problemas personales con tu mamá, tu papá o la pareja de alguno de ellos?</label>
        <select name="p24_13">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Te casaste?</label>
        <select name="p24_14">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Tienes un hijo?</label>
        <select name="p24_18">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Tienes baja autoestima?</label>
        <select name="p24_22">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Falleció un familiar,
            o alguien en tu
            familia
            (incluyéndote) se
            enfermó
            gravemente?</label>
        <select name="p24_17">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>

        <label>¿Hay reglas de disciplina con las que no estés de acuerdo?</label>
        <select name="p24_11">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        
        <label>¿Tu familia prefiere que estudien otros hermanos?</label>
        <select name="p24_15">
            <option value="1">Sí</option>
            <option value="2">No</option>
        </select>
        <br>
        <label>¿cuál es el último nivel de
            estudios que cursó tu papá?</label>
        <select name="s9p">
            <option value="1">No terminó la primaria</option>
            <option value="2">Terminó la primaria pero no inicio la secundaria</option>
            <option value="3">Inició la secundaria pero no la concluyó</option>
            <option value="4">Concluyó la secundaria</option>
            <option value="5">Carrera técnica después de la secundaria (iniciado o concluido)</option>
            <option value="6">Preparatoria/bachillerato (iniciado o concluido)</option>
            <option value="7">La normal (iniciado o concluido)</option>
            <option value="8">Profesional: Licenciatura o Ingeniería (iniciado o concluido)</option>
            <option value="9">Posgrado: Maestría o Doctorado (iniciado o concluido)</option>
        </select>
        <br>
        <label>¿cuál es el último nivel de
            estudios que cursó tu mamá?</label>
        <select name="s9m">
            <option value="1">No terminó la primaria</option>
            <option value="2">Terminó la primaria pero no inicio la secundaria</option>
            <option value="3">Inició la secundaria pero no la concluyó</option>
            <option value="4">Concluyó la secundaria</option>
            <option value="5">Carrera técnica después de la secundaria (iniciado o concluido)</option>
            <option value="6">Preparatoria/bachillerato (iniciado o concluido)</option>
            <option value="7">La normal (iniciado o concluido)</option>
            <option value="8">Profesional: Licenciatura o Ingeniería (iniciado o concluido)</option>
            <option value="9">Posgrado: Maestría o Doctorado (iniciado o concluido)</option>
        </select>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>

