<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Desertores</title>
    <link rel="stylesheet" href="static/css/formulario.css">
    <script>
        function validarP27(event) {
            var p27Value = document.querySelector('input[name="p27"]:checked');
            
            if (!p27Value) {
                alert("Por favor, selecciona una opción en la pregunta p27.");
                event.preventDefault(); 
                return;
            }
            
            p27Value = p27Value.value;
            
            if (p27Value == 2) {
                document.getElementById('p29').style.display = 'none';
                document.getElementById('p30').style.display = 'none';
                document.getElementById('p31').style.display = 'none';
                
                document.getElementById('p29').value = -1;
                document.getElementById('p30').value = -1;
                document.getElementById('p31').value = -1;
            } else {
                document.getElementById('p29').style.display = 'block';
                document.getElementById('p30').style.display = 'block';
                document.getElementById('p31').style.display = 'block';
            }
        }
    </script>
</head>
<body>
    <form action="/economico" method="post" onsubmit="validarP27(event)">
        <h2>Información Económica</h2>
        
        <div id="p24_1">
            <label>¿Faltaba dinero en tu hogar?</label>
            <select name="p24_1">
                <option value="1">Sí</option>
                <option value="2">No</option>
            </select>
            <br>
        </div>

        <div id="p24_6">
            <label>¿Consideras que trabajar es más importane que estudiar?</label>
            <select name="p24_6">
                <option value="1">Sí</option>
                <option value="2">No</option>
            </select>
            <br>
        </div>
        <label>¿Trabajas o has trabajado durante tus estudios?</label>
        <input type="radio" name="p27" value="1" onchange="validarP27(event)"> Sí
        <input type="radio" name="p27" value="2" onchange="validarP27(event)"> No
        <br>
        
        <div id="p29" style="display:none;">
            <label>¿Durante cuánto tiempo trabajaste al tiempo que estudias?</label>
            <select name="p29">
                <option value="1">Menos de la mitad</option>
                <option value="2">Aproximadamente la mitad</option>
                <option value="3">Más de la mitad</option>
                <option value="4">Todo el tiempo</option>
            </select>
            <br>
        </div>

        <div id="p30" style="display:none;">
            <label>¿Cuánto ganas al mes?</label>
            <input type="number" name="p30" />
            <br>
        </div>
        
        
        <div id="p31" style="display:none;">
            <label>¿Cuántas horas trabajas a la semana?</label>
            <input type="number" name="p31" />
            <br>
        </div>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
