<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="static/css/stylesGestion.css">

</body>
<div class="container">
    <div class="header">
                <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                    <div class="container-fluid">
                      <p>UAM Azcapotzalco</p>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav me-auto">
                          <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('index') }}">Home
                              <span class="visually-hidden">(current)</span>
                            </a>
                          </li>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                          </li>
                          <li>
                            <p style="font-family: 'Times New Roman', Times, serif; font-style: oblique; text-align: center; font-size:large;">Sistema de estimación de riesgo de abandono escolar en el nivel
                                medio superior</p>
                          </li>
                          <li> 
                            <div class="sesion">
                                <img src="static/img/sesio.png" width="30px" height="30px">
                                <p>Usuario</p>
                        </div>
                          </li>
                        </ul>
                       
                       
                      </div>
                    </div>
                   
                  </nav>
                 
    </div>
    <div class="izq">
        <div class="filtros">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Filtrar por</a>
                  <div class="dropdown-menu show" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 44px);" data-popper-placement="bottom-start">
                    <a class="dropdown-item" href="static/img/graf.jpg" target="i1">Nombre</a>
                    <a class="dropdown-item" href="#">Escuela</a>
                    <a class="dropdown-item" href="#">Nivel de Riesgo</a>
                    <div class="dropdown-divider"></div>
                  </div>
                </li>
              </ul>
        </div>
    </div>
    <div class="centro">
        <iframe name="i1" width="800px" height="700px"></iframe>
    </div>

    

    <div class="der">
      <div class="bot">
        <a href="formulario_academicos.html" target="i1" class="btn btn-success">Consultar Nivel de riesgo (académicos)</a>
        <br>
       
        <a href="formulario_personales.html" target="i1" class="btn btn-success">Consultar Nivel de riesgo(personales)</a>
      </div>
      </div>
    

    <div class="footer">
        <div class="pag">
            <ul class="pagination pagination-lg">
              <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
              </li>
            </ul>
          </div>
    </div>

</div>
</html>