{% extends "base.html" %}

{% block title %} Gestión de Estudiantes del Sistema de Predicción {% endblock %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <iframe name="i1" width="600px" height="700px" src="{{ url_for('i1') }}"></iframe>
    </div>
{% endblock %}

{% block derecha %}

    <div class="bot">
      <a href="formulario_academicos.html" target="i1" type="button" class="btn btn-outline-primary">Consultar Nivel de riesgo (académicos)</a>
      <br>
    <br>
      <a href="formulario_personales.html" target="i1" type="button" class="btn btn-outline-primary">Consultar Nivel de riesgo(personales)</a>

      <br>
    <br>
      <a href="formulario_economicos.html" target="i1" type="button" class="btn btn-outline-primary">Consultar Nivel de riesgo(económicos)</a>
    </div>
    {% endblock %}