{% extends "base.html" %}

{% block title %}Inicio - Sistema de Predicción de Deserción Escolar{% endblock %}

{% block content %}
    <h2>🎓 Sistema de Predicción de Deserción Escolar</h2> 
    <h3>¿Sabías qué?</h3> 
    <p>
        En México, el abandono escolar en el nivel medio superior es un problema muy serio, esto afecta la continuidad de los estudios y con ello se reduce la posibilidad para los jóvenes de acceder a buenas oportunidades laborales.
        Este nivel educativo, que es un puente hacia los estudios universitarios, registra las tasas de deserción más altas respecto a otros, con un índice nacional del 8.7 %.
    </p> 
    <p>
        Los factores detrás de esto son diversos, e incluyen condiciones económicas, falta de apoyo familiar, además de factores sociales y educativos. El tener tantos factores hace muy complicado el poder decir el riesgo que corre un estudiante de abandonar sus estudios.
    </p>

    <h3>¿Qué hacemos?</h3>
    <p>
        Este es un sistema que, utilizando minería de datos educacional, permite identificar el nivel de riesgo que tiene un estudiante de abandonar sus estudios en el nivel medio superior, con base en sus características económicas, laborales y familiares, mediante técnicas predictivas.
    </p>

    {% if resultado %}
        <h2>Resultado: {{ resultado }}</h2>
    {% endif %}
{% endblock %}

{% block derecha %}
    <div class="im">
        <img width="200px" height="100px" src="{{ url_for('static', filename='img/Estu.jpg') }}">
        <img width="200px" height="100px" src="{{ url_for('static', filename='img/birr.jpg') }}">
        <img width="200px" height="100px" src="{{ url_for('static', filename='img/des.png') }}">
    </div>
{% endblock %}
