<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados de Predicción</title>
   
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>
    <h2 style="text-align:center;">Resultados de la Predicción</h2>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="row">Estudiante</th>
                <th scope="row">Basado en datos académicos</th>
                <th scope="row">Basaado en datos personales</th>
                <th scope="row">Basado en datos económicos</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
                <tr>
                    <td>{{ resultado.estudiante }}</td>
                    {% for prediccion in resultado.predicciones %}
                        <td>{{ prediccion }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
